<header class="fixed">
    <div class="header_container left">
        <div class="icon">P</div>
    </div>
    <div class="header_container header_title">
        <h1>Welcome to the Forum</h1>
    </div>
    <div class="header_container right">
        <div class="icon">D</div>
        <div class="icon">H</div>
    </div>
</header>
<hr></hr>

<div class="content_field">
    <div class="content_container">
        <div class="tile wide" id="about">
            About the forum
        </div>
        <a class="tile wide" id="signup" href=<%=sign_in_main_page_path%> >
            sign in
        </a>
    </div>
</div>

<br/>

