<h1>Welcome to the Forum</h1>
<hr></hr>


    <div class="tile wide" id="about">
        About the forum
    </div>
    <br/>
    <a class="tile wide" id="signup" href=<%=sign_in_main_page_path%> >
        sign in
    </a>
    <br/>


<br/>

