<% content_for :header_left  do %>
    <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user), class: "button" %>
    <% end %>
<% end %>

<% content_for :header_title  do %>
    <h1>Welcome to the Forum</h1>
<% end %>

<% content_for :header_right  do %>
<% end %>
<%= render 'layouts/header' %>

<div class="content_field">
    <div class="sidebar_container left">
        <div class="sidebar left"></div>
    </div>
    <div class="content_container">
        <div class="tile content" id="about">
            About the forum
        </div>
        <a class="tile content" id="signup" href=<%=login_path%> >
            sign in
        </a>
    </div>
    <div class="sidebar_container right">
        <div class="sidebar right"></div>
    </div>
</div>

<br/>

