<header class="fixed">
    <div class="header_container left">
        <%= yield( :header_left ) %>
    </div>
    <div class="header_container header_title">
        <%= yield( :header_title ) %>
    </div>
    <div class="header_container right">
        <%= yield( :header_right ) %>
    </div>
</header>